####################################################################################
############################    LOCAL    ###########################################
####################################################################################
LOCAL_API_TOKEN=
LOCAL_API_SECRET=
LOCAL_KEY_ID=
LOCAL_PRESET_BASE_URL=http://manager.local.preset.zone/
LOCAL_PRESET_TEAM_ID=
LOCAL_WORKSPACE_SLUG=
LOCAL_SUPERSET_DOMAIN=http://localhost:9000
LOCAL_DASHBOARD_ID=


####################################################################################
#############################    SDX    ############################################
####################################################################################
SDX_API_TOKEN=
SDX_API_SECRET=
SDX_KEY_ID=
SDX_PRESET_BASE_URL=https://manage.app-sdx.preset.io/
SDX_PRESET_TEAM_ID=
SDX_WORKSPACE_SLUG=
SDX_SUPERSET_DOMAIN=
SDX_DASHBOARD_ID=


####################################################################################
#############################    STG    ############################################
####################################################################################
STG_API_TOKEN=
STG_API_SECRET=
STG_KEY_ID=
STG_PRESET_BASE_URL=https://manage.app-stg.preset.io/
STG_PRESET_TEAM_ID=
STG_WORKSPACE_SLUG=
STG_SUPERSET_DOMAIN=
STG_DASHBOARD_ID=


####################################################################################
############################    PROD    ############################################
####################################################################################
API_TOKEN=
API_SECRET=
KEY_ID=
PRESET_BASE_URL=https://manage.app.preset.io/
PRESET_TEAM_ID=
WORKSPACE_SLUG=
SUPERSET_DOMAIN=
DASHBOARD_ID=
