<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preset Test Embedded App</title>

	<!-- Loading the Preset Embedded SDK from the CDN -->
	<script src="https://unpkg.com/@preset-sdk/embedded"></script>

	<!-- <script src="http://127.0.0.1:8000/bundle/index.js"></script> -->
</head>

<body>
	<!-- Specifying the iframe size -->
	<style>
        iframe
        {
            width: 100%;
            height: 100%;
        }
    </style>
	
	<!-- Creating a div that will be used by the SDK to embed the dashboard -->
	<div id="dashboard-container"></div>
	<script>
		// 1. Request guest_token from our backend
		async function fetchGuestTokenFromBackend() {
			const authType = "{{ authType }}";
			target_url = authType === "api" ? '/guest-token' : '/pem-key';
			let response = await fetch(target_url);
			let data = await response.json()
			if (data["error"]){
				alert("ERROR: " + data.error);
				return null;
			}
			return data;
		}

		function logChanges(changes) {
			console.log("I'm in the method");
			console.log("changes: ", changes);
		}

		// 2. Uses Preset Embedded SDK to embed the dashboard as an iFrame
		const dashboardId = "{{ dashboardId }}";
		const supersetDomain = "{{ supersetDomain }}";

		const myLightDashboard = presetSdk.embedDashboard({
		// const myLightDashboardPromise = supersetEmbeddedSdk.embedDashboard({
			id: dashboardId,
			supersetDomain: supersetDomain,
			mountPoint: document.getElementById("dashboard-container"), // any html element that can contain an iframe
			fetchGuestToken: async () => fetchGuestTokenFromBackend(),
			dashboardUiConfig: { // dashboard UI config: hideTitle, hideChartControls, filters (all optional)
				hideTitle: false, // change it to `true` to hide the dashboard title
				hideChartControls: false, // change it to `true` to hide the chart controls (ellipses menu)
				filters: {
					expanded: true, // change it to `false` so that dashboard filters are collapsed (for vertical filter bar)
				},
				urlParams: {
					// "native_filters_key": "_9K5Pi2in5uZnHYwvBfP_jOSZpRohbQjJCsFe-jie_mRHjwRAGboqjsroZa-IUbS"
					"permalink_key": "aE6zJGOJK3k"
				},
				// emitDataMasks: true,
				debug: true,
			},
			iframeTitle: "Custom title",
			referrerPolicy: "no-referrer",
		});

		// myLightDashboardPromise.then(myLightDashboard => {
		// 	const interval = setInterval(async () => {
		// 		const { width, height } = await myLightDashboard.getScrollSize();
		// 		if (width && height) {
		// 			console.log("Dashboard size: ", width, height);
		// 			const newInterval = setInterval(async () => {
		// 				console.log("Calling the getDataMasks...");
		// 				myLightDashboard.getDataMasks(logChanges);
		// 			}, 4000);
		// 			myLightDashboard.getDataMasks(logChanges());
		// 			clearInterval(interval);
		// 		}
		// 	}, 1000);
		// }).catch(error => {
		// 	console.error("Error embedding dashboard:", error);
		// });
	</script>
</body>
